.heading-intro{
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-size: 15;
  size: 15rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15%;

}

#title {
  background-color: #ff4c68;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
